<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ridi.mybatis.MemberMapper">
<select id="getAllMember" resultType="MemberDto">
	SELECT * FROM MEMBER
</select>
	<insert id="insertMember" parameterType="MemberDto">
		INSERT INTO MEMBER VALUES(
									SEQ_MEMBER.NEXTVAL,
									#{name},
									#{RRN},
									#{id},
									#{password},
									#{email},
									#{gender},
									#{zipcode},
									#{address},
									#{hp},
									SYSDATE
		)
	</insert>
	<select id="getOneMember" resultType="MemberDto">
		SELECT * FROM MEMBER
	</select>
	<select id="getLoggedMember" resultType="MemberDto">
		SELECT * FROM MEMBER WHERE ID=#{id} AND PASSWORD = #{password}
	</select>
</mapper>






